@main_background: dimgray;
@buttons_background: #252525;

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: @main_background;
}

.head {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {

  button {
    width: 150px;
    height: 30px;
    color: yellowgreen;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: @buttons_background;
    border-color: black;
    cursor: pointer;

    &:hover {
      background-color: @buttons_background + #222;
    }

    &:focus {
      outline: white solid 2px;
    }

    &:first-child {
      margin-right: 20px;
    }
  }
}
